* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

label{
  font-size: 1em;
  color: #000000;
}

input{
  outline: none;
  border: none;
  background-color: #ffffff;
  height: 20px;
  padding: 0.5em;
}

select{
  outline: none;
  border: none;
}

button{
  cursor: pointer;
  padding: 1em;
  border-radius: 20px;
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  input{
    background-color: #000000;
  }

  button{
    background-color: #000000;
  }
}
