.baseStructure{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em 5em;
  background: no-repeat top/100% url("./images/bg3.jpg");
}

.genForm{
  position: relative;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45em;
  padding: 2em;
  flex-direction: column;
  row-gap: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 2px rgba(255,255,255,0.5);
}

.inputsHolder{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.inputLabelEnclosure{
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.genTextArea{
  cursor: text;
  user-select: text;
  background-color: #ffffff;
  display: flex;
  width: 40em;
  height: 100px;
  padding: 1em;
  overflow-y: scroll;
}

.regenerate{
  background: #96010191;
  box-shadow: 0px 0px 10px 1px #666564;
  z-index: 1;
}

.selectionTooltip{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  justify-content: center;
  background-color: #ffff00;
  border-radius: 4px;
  color: #000000;
  z-index: 1;
  visibility: hidden;
}
.selToolTipText{
  width: 80%;
  padding: 1em;
  transition: 0.2s linear background-color;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.selToolTipText:hover{
  background-color: #ffaa00;
}

.waitTooltip{
  position: absolute;
  right: 0em;
  top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  justify-content: center;
  background-color: #ffff00;
  border-radius: 4px;
  color: #000000;
  transition: 0.5s linear visibility;
  box-shadow: 0px 0px 10px 2px #000000;
  z-index: 1;
  visibility: hidden;
}

.waitToolTipText{
  width: 80%;
  padding: 1em;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .genForm{
    background-color: #aaaaaa;
  }

  .genTextArea{
    background-color: #000000;
  }
}

@media only screen and (max-width:800px){
  .genForm{
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
  }

  .inputLabelEnclosure{
    flex-direction: column;
  }

  .genTextArea{
    width: 80%;
  }

  .baseStructure{
    padding: 7em 1em;
    background: fixed repeat top/100% url("./images/bg4.jpg");
  }
}