.baseStructure{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em 5em;
}

.genForm{
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45em;
  padding: 2em;
  flex-direction: column;
  row-gap: 1em;
}

.inputsHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.inputLabelEnclosure{
  display: flex;
  column-gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.genTextArea{
  cursor: text;
  background-color: #ffffff;
  display: flex;
  width: 40em;
  height: 100px;
  padding: 1em;
  overflow-y: scroll;
}

.regenerate{
  position: absolute;
  visibility: hidden;
  top: 14.7em;
  left: 4em;
  z-index: 1;
}

.selectionTooltip{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
  justify-content: center;
  background-color: #ffff00;
  color: #000000;
  z-index: 1;
  visibility: hidden;
}
.selToolTipText{
  width: 80%;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

.selToolTipText:hover{
  background-color: #ffaa00;
}

@media (prefers-color-scheme: dark) {
  .genForm{
    background-color: #aaaaaa;
  }

  .genTextArea{
    background-color: #000000;
  }
}