.baseStructure{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em 5em;
}

.genForm{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45em;
  padding: 2em;
  flex-direction: column;
  row-gap: 1em;
}

.inputsHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.inputLabelEnclosure{
  display: flex;
  column-gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.genTextArea{
  background-color: #ffffff;
  display: flex;
  width: 40em;
  height: 100px;
  padding: 1em;
  overflow-y: scroll;
}

@media (prefers-color-scheme: dark) {
  .genForm{
    background-color: #aaaaaa;
  }

  .genTextArea{
    background-color: #000000;
  }
}